<div class="merkur-game flex justify-between items-center py-2">
  <div class="game-left">
    <div class="game-breadcrumbs flex text-merkurPrimary-300">
      <span>Football</span>
      <mat-icon color="primary">{{ "chevron_right" }}</mat-icon>
      <span>ENG</span>
      <mat-icon color="primary">{{ "chevron_right" }}</mat-icon>
      <span>Premier League</span>
    </div>
    <div class="game-content flex items-center gap-x-4">
      <mat-icon color="accent">{{ "star_rate" }}</mat-icon>
      <div class="game-datetime">
        <div
          class="live-tag bg-red-700 text-white font-bold text-xs px-4 rounded text-center"
        >
          Live
        </div>
        <div class="minute-tag text-center text-merkurPrimary-500 font-bold">
          56'
        </div>
      </div>
      <div class="game-teams text-merkurPrimary-500 font-bold mr-24">
        <div class="home-team">Arsenal FC</div>
        <div class="away-team">Manchester City</div>
      </div>
      <div
        class="game-score text-merkurPrimary-500 font-bold bg-merkurPrimary-100 py-2 px-3 rounded leading-none"
      >
        <div class="score home-score rounded-t">2</div>
        <div class="score away-score rounded-b">1</div>
      </div>
    </div>
  </div>
  <div class="game-right flex gap-x-4">
    <div class="market">
      <header class="market-title text-merkurPrimary-300 text-sm font-bold">
        Match Winner
      </header>
      <div class="market-odds grid grid-cols-3 gap-x-2">
        <button mat-stroked-button class="odd-button merkur-btn">
          <div class="odd-btn-wrapper flex items-center gap-x-8">
            <div class="odd-name text-merkurPrimary-300 text-s font-thin">
              1
            </div>
            <div class="odd-value text-merkurPrimary-500 font-bold">1.80</div>
          </div>
        </button>
        <button mat-stroked-button class="odd-button merkur-btn">
          <div class="odd-btn-wrapper flex items-center gap-x-8">
            <div class="odd-name text-merkurPrimary-300 text-s font-thin">
              x
            </div>
            <div class="odd-value text-merkurPrimary-500 font-bold">2.15</div>
          </div>
        </button>
        <button mat-stroked-button class="odd-button merkur-btn">
          <div class="odd-btn-wrapper flex items-center gap-x-8">
            <div class="odd-name text-merkurPrimary-300 text-s font-thin">
              2
            </div>
            <div class="odd-value text-merkurPrimary-500 font-bold">2.40</div>
          </div>
        </button>
      </div>
    </div>
    <div class="market">
      <header class="market-title text-merkurPrimary-300 text-sm font-bold">
        Match Winner
      </header>
      <div class="market-odds grid grid-cols-3 gap-x-2">
        <button mat-stroked-button class="odd-button merkur-btn">
          <div class="odd-btn-wrapper flex items-center gap-x-8">
            <div class="odd-name text-merkurPrimary-300 text-s font-thin">
              1
            </div>
            <div class="odd-value text-merkurPrimary-500 font-bold">1.80</div>
          </div>
        </button>
        <button mat-stroked-button class="odd-button merkur-btn">
          <div class="odd-btn-wrapper flex items-center gap-x-8">
            <div class="odd-name text-merkurPrimary-300 text-s font-thin">
              x
            </div>
            <div class="odd-value text-merkurPrimary-500 font-bold">2.15</div>
          </div>
        </button>
        <button mat-stroked-button class="odd-button merkur-btn">
          <div class="odd-btn-wrapper flex items-center gap-x-8">
            <div class="odd-name text-merkurPrimary-300 text-s font-thin">
              2
            </div>
            <div class="odd-value text-merkurPrimary-500 font-bold">2.40</div>
          </div>
        </button>
      </div>
    </div>
    <div class="market">
      <header class="market-title text-merkurPrimary-300 text-sm font-bold">
        Match Winner
      </header>
      <div class="market-odds grid grid-cols-3 gap-x-2">
        <button mat-stroked-button class="odd-button merkur-btn">
          <div class="odd-btn-wrapper flex items-center gap-x-8">
            <div class="odd-name text-merkurPrimary-300 text-s font-thin">
              1
            </div>
            <div class="odd-value text-merkurPrimary-500 font-bold">1.80</div>
          </div>
        </button>
        <button mat-stroked-button class="odd-button merkur-btn">
          <div class="odd-btn-wrapper flex items-center gap-x-8">
            <div class="odd-name text-merkurPrimary-300 text-s font-thin">
              x
            </div>
            <div class="odd-value text-merkurPrimary-500 font-bold">2.15</div>
          </div>
        </button>
        <button mat-stroked-button class="odd-button merkur-btn">
          <div class="odd-btn-wrapper flex items-center gap-x-8">
            <div class="odd-name text-merkurPrimary-300 text-s font-thin">
              2
            </div>
            <div class="odd-value text-merkurPrimary-500 font-bold">2.40</div>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
